---
import Layout from '../layout/layout.astro';
import Background from '../components/Home/Background.astro';
import SectionWrapper from '../components/UniversalComponents/SectionWrapper.astro';
import {ProjectsData} from "../components/Projects/ProjectsData";
---

<Layout>
    <Background/>
    <SectionWrapper y="-12vh" gap="0rem">
        <h1>My Projects</h1>
        <div class="ProjectsWrapper">
            <ul class="ProjectList">
                {
                    ProjectsData.map(item => (
                            <li class="listItem" id={item.id.toString()}>{item.name}</li>
                    ))
                }
            </ul>
            <div class="ProjectShowcase">
                {
                    ProjectsData.map(item => (
                        <img class="imageHide" id={`image${item.id}`} src={item.images[0]} alt="gallery image" />
                    ))
                }
            </div>
        </div>
    </SectionWrapper>
</Layout>

<script>
   const listItems = document.querySelectorAll('.listItem');
   const imageItems = document.querySelectorAll('.imageHide');

   listItems.forEach(item => {
       item.addEventListener('mouseover', (e) => {
           imageItems[Number(e.target.id)].classList.remove('imageHide');
       })
   })

   listItems.forEach(item => {
       item.addEventListener('mouseleave', (e) => {
           imageItems[Number(e.target.id)].classList.add('imageHide');
       })
   })
</script>

<style lang="scss">

  body {
    overflow-y: hidden;;
  }

  .ProjectsWrapper {
    width: 60%;
    height : auto;
    min-height: 20rem;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      width: 90%;
    }

    .ProjectShowcase {
      width : 50%;
      position: relative;

      @media screen and (max-width: 800px) {
        display: none;
      }

      img {
        margin-top: 2rem;
        display: block;
        position: absolute;

        width : 100%;
        height : 100%;
        object-fit: contain;

        transition: opacity 250ms;
        will-change: opacity;
      }

      .imageHide {
        opacity : 0;
      }
    }

    ul {
      width: 50%;

      @media screen and (max-width: 800px) {
        width: 100%;
      }

      li {
        color: var(--textColor);
        font-family: 'Montserrat', sans-serif;
        list-style: none;
        font-size: 2rem;
        margin-top: 2rem;
        border-bottom: solid 2px var(--textColor);
        width: 80%;
        cursor: pointer;
      }
    }
  }


  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: var(--textColor);
    width: 60%;
    min-width: 25rem;
    position: relative;
    margin-top: 3rem;

    @media screen and (max-width: 800px) {
      width: 90%;
    }
  }

  h1::before {
    content: '';
    position: absolute;
    background-color: var(--textColor);
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
  }
</style>
